<div class="container">
  <h2>Flight List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Airline</th>
        <th>Airline Name</th>
        <th>Logo</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let flight of flights">
        <td>{{ airlineDetails?.id }}</td>
        <td>{{ flight.iata_from }}</td>
        <td>{{ flight.iata_to }}</td>
        <td>{{ flight.airLineIata }}</td>
        <td>{{ airlineDetails?.name }}</td>
        <td>
          <img *ngIf="airlineDetails?.logo" [src]="airlineDetails.logo" alt="{{ airlineDetails?.name }} Logo" width="50" height="50">
        </td>
      </tr>
    </tbody>
  </table>
</div>
