
 <style>
   .section {
position: relative;
height: 100vh;
}

.section .section-center {
position: absolute;
top: 50%;
left: 0;
right: 0;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

#booking {
font-family: 'PT Sans', sans-serif;
background-image: url('../img/background.jpg');

background-size: cover;
background-position: center;
}

.booking-form {
background: rgba(0, 0, 0, 0.7);
padding: 40px;
border-radius: 6px;
width: 100%;
}

.booking-form .form-group {
position: relative;
margin-bottom: 20px;
}

.booking-form .form-control {
background-color: #fff;
height: 50px;
color: #191a1e;
border: none;
font-size: 16px;
font-weight: 400;
-webkit-box-shadow: none;
box-shadow: none;
border-radius: 40px;
padding: 0px 25px;
}

.booking-form .form-control::-webkit-input-placeholder {
color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control:-ms-input-placeholder {
color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control::placeholder {
color: rgba(82, 82, 84, 0.4);
}

.booking-form input[type="date"].form-control:invalid {
color: rgba(82, 82, 84, 0.4);
}

.booking-form select.form-control {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.booking-form select.form-control+.select-arrow {
position: absolute;
right: 10px;
bottom: 6px;
width: 32px;
line-height: 32px;
height: 32px;
text-align: center;
pointer-events: none;
color: rgba(0, 0, 0, 0.3);
font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
content: '\279C';
display: block;
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}

.booking-form .form-label {
display: block;
margin-left: 20px;
margin-bottom: 5px;
font-weight: 400;
text-transform: uppercase;
line-height: 24px;
height: 24px;
font-size: 12px;
color: #fff;
}

.booking-form .form-checkbox input {
position: absolute !important;
margin-left: -9999px !important;
visibility: hidden !important;
}

.booking-form .form-checkbox label {
position: relative;
padding-top: 4px;
padding-left: 30px;
font-weight: 400;
color: #fff;
}

.booking-form .form-checkbox label+label {
margin-left: 15px;
}

.booking-form .form-checkbox input+span {
position: absolute;
left: 2px;
top: 4px;
width: 20px;
height: 20px;
background: #fff;
border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: 0px;
height: 0px;
border-radius: 50%;
background-color: #f23e3e;
-webkit-transition: 0.2s all;
transition: 0.2s all;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.booking-form .form-checkbox input:not(:checked)+span:after {
opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
opacity: 1;
width: 10px;
height: 10px;
}

.booking-form .form-btn {
margin-top: 27px;
}

.booking-form .submit-btn {
color: #fff;
background-color: #b50909;
font-weight: 400;
height: 50px;
font-size: 14px;
border: none;
width: 100%;
border-radius: 40px;
text-transform: uppercase;
-webkit-transition: 0.2s all;
transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
opacity: 0.9;
}
.disabled-input {
    background-color: #f0f0f0; /* Set a background color for disabled input */
    color: #999; /* Change the text color */
    cursor: not-allowed; /* Change the cursor style to not-allowed */
    border: 1px solid #ccc; /* Add a border to make it visually distinct */
  }

  .suggestions{
      background-color: #f0f0f0;
  }
  /* Add this CSS to your existing styles */
.suggestions-container {
  position: relative;
  max-height: 150px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  /* border: 1px solid #ccc;  */
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  padding: 5px;
  cursor: pointer;
}

/* .suggestions li:hover {
  background-color: #f0f0f0; 
} */


</style>


<div id="booking" class="section" >
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form>
                       
                       <div class="row">
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="roundtrip">
                                    <input type="radio" id="roundtrip" name="flight-type" [(ngModel)]="selectedFlightType" value="roundtrip" (click)="onFlightTypeChange('roundtrip')">
                                    <span></span>Roundtrip
                                </label>
                                <label for="one-way">
                                    <input type="radio" id="one-way" name="flight-type" [(ngModel)]="selectedFlightType" value="one-way" (click)="onFlightTypeChange('one-way')">
                                    <span></span>One way
                                </label>
                                <!-- <label for="multi-city">
                                    <input type="radio" id="multi-city" name="flight-type" [(ngModel)]="selectedFlightType" value="multi-city" (click)="onFlightTypeChange('multi-city')">
                                    <span></span>Multi-City
                                </label> -->
                            </div>
                        </div>
                    </div>
                       

                        <div class="row"> 
                            
            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Flying from</span>
                                    <input  class="form-control" type="text" name="iataFrom"  placeholder="City or airport" [(ngModel)]="criteria.iata_from" (input)="searchAirportsFrom(criteria.iata_from)">
                                    <div class="suggestions-container">
                                    <div class="suggestions">
                                        <ul>
                                          
                                          <li *ngFor="let suggestion of airportSuggestionsFrom" (click)="selectAirport(suggestion,'iataFrom')">
                                            {{ suggestion.name }} ({{ suggestion.code }})
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Flying to</span>
                                    <input class="form-control" type="text" name="iataTo"  placeholder="City or airport" [(ngModel)]="criteria.iata_to" (input)="searchAirportsTo(criteria.iata_to)">
                                    <div class="suggestions-container">
                                    <div class="suggestions">
                                    <ul>
                                       
                                        <li *ngFor="let suggestion of airportSuggestionsTo" (click)="selectAirport(suggestion,'iataTo')">
                                          {{ suggestion.name }} ({{ suggestion.code }})
                                        </li>
                                      </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        

    <div class="col-md-2">
        <div class="form-group">
            <span class="form-label">Departing</span>
            <input class="form-control" name="date" type="date" [(ngModel)]="criteria.date"  >
        </div>
    </div>
    <div class="col-md-2" *ngIf="selectedFlightType === 'roundtrip'">
        <div class="form-group">
            <span class="form-label">Returning</span>
            <input class="form-control" type="date" name="date" id="returningDate" [(ngModel)]="criteria.returningDate" >
        </div>
    </div>
</div>


  <div *ngIf="selectedFlightType === 'multi-city'">
    <div class="row" *ngFor="let flight of multiCityFlights; let i = index">
        
        <div class="col-md-4">
            <div class="form-group">
                <span class="form-label">Flying From</span>
                <input class="form-control" type="text" placeholder="City or airport" >
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <span class="form-label">Flying To</span>
                <input class="form-control" type="text" placeholder="City or airport" >
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Departing</span>
                <input class="form-control" type="date" >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button class="btn btn-danger rounded-circle" (click)="removeFlight(i)">X</button>
            </div>
        </div>
    
    
        <div class="col-md-12" *ngIf="i === multiCityFlights.length - 1">
            <button class="btn btn-primary" (click)="addFlight()">Add Flight</button>
        </div>
    </div>
</div>

                        
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label" name="classType" [(ngModel)]="criteria.classType" >Travel class</span>
                                    <select class="form-control">
                                        <option>Economy</option>
                                        <option>Business</option>
                                        <option>First</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label for="classType" class="form-label">Travel class</label>
                                    <select class="form-control" id="classType" name="classType" [(ngModel)]="criteria.classType">
                                      <option value="Economy">Economy</option>
                                      <option value="Business">Business</option>
                                      <option value="First">First</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                  </div>
                                </div>
                           
                           
                                
                                <div class="col-md-4">
                                  <div class="form-group text-center">
                                    <button type="submit" class="submit-btn" (click)="showFlights()">Show Flights</button>
                                  </div>
                                </div>
                                
                              </div> -->
                              
                              <div class="row">
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label for="classType" class="form-label">Travel class</label>
                                    <select class="form-control" id="classType" name="classType" [(ngModel)]="criteria.classType">
                                      <option value="Economy">Economy</option>
                                      <option value="Business">Business</option>
                                      <option value="First">First</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                  </div>
                                </div>
                              
                                <div class="col-md-3 offset">
                                    <div class="form-group text-center" style="margin-top: 30px;"> 
                                      <button type="submit" class="submit-btn" (click)="showFlights()">Show Flights</button>
                                    </div>
                              </div>
                            </div>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
</div>
